html {
  scroll-behavior: smooth;
}

/*------------------------------------------------------------------ home -------------------------------------------------------------*/

/*------------------------------------------------------------------ home -------------------------------------------------------------*/

.home{
  box-sizing: border-box;
  padding-top: 182px;


}
.Home-content{
  max-width: 800px;
  text-align: center;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}
.Home-title{
  font-size: 60px;
  color: var(--text-color-7);
  font-family:'Black';

}
.Home-cption{
  font-size: 22px;
  margin-top: 1rem;
  font-family:'Medium';
  color: var(--text-color-7);
  
}
.Home-btn{
  max-width: 500px;
  height: 58px;
  background:rgba(255, 255, 255, 0.12);
  backdrop-filter: blur(250px);
  padding: 12px 10px;
  display: inline-block;
  border: 1.5px solid #d4d4d4;
  border-radius: 1rem;
  margin-top: 15px;
  display: flex;
  align-items: center;
  
}
.Home-btn__left{
  background-color: var(--bg-color-3);
  color :var(--text-color-4);
  padding: 8px 50px;
  border-radius: 10px;
  margin-right: 15px;
  text-decoration: none;
  font-family: 'Bold';

}
.Home-btn__left:hover{
  background-color: var(--hover-color-2); 
  color: var(--text-color-4); 
  box-shadow: 0 4px 15px rgba(88, 191, 255, 0.4); 
  /* transform: translateY(-3px);  */
  transition: all 0.2s ease-in-out; 
}
.Home-btn__rigth{
  
  background-color: var(--bg-color-5);
  color: var(--text-color-4-1);
  padding: 8px 65px;
  border-radius: 10px;
  text-decoration: none;
  font-family: 'Bold';
}
.Home-btn__rigth:hover{
  background-color: var(--hover-color-3); 
  color: var(--text-color-4-right);
  transition: all 0.2s ease-in-out; 
}
.poster{
  display: flex;
  justify-content: center;
  gap: 12px;
  margin-top: 125px;
}
.poster-cards{
  width: 255px;
  height: 330px;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
  background-image: url(/image/1.jpg);
  background-repeat: no-repeat;
  background-size: cover;

}
.poster-cards:nth-child(2){
  background-image: url(/image/2.jpg);
}
.poster-cards:nth-child(3){
  background-image: url(/image/4.jpg);
}
.poster-cards:nth-child(4){
  /* background-image: url(/image/5.jpg); */
  background-image: url(/image/6.jpg);
}

.poster-card__content{
  /* background-color: rgba(102, 102, 102, 0.08); */
  backdrop-filter: blur(7.5px);
  border-top: 2px solid rgba(102, 102, 102, 0.09);
  display: flex;
  position: absolute;
  bottom: 0;
  width: 100%;
  justify-content: space-between;
  padding: 0px 17px;
  height: 80px;
  align-items: center;
}
.poster-text{
  
}
.poster-text h4 {
  font-family: 'Bold';
  font-size: 16px;
  color: var(--text-color-cart);
}
.poster-text p{
  margin-top: 5px;
}
.poster-text{
  font-family: 'ExtraLight';
  font-size: 14px;
  color: var(--text-color-cart);
}

.poster-card__btn{
  background-color: rgba(255, 255, 255, 0.11);
  backdrop-filter: blur(75px);
  text-decoration: none;
  padding: 18px 25px;
  border-radius: 12px;
  font-family: 'Reagular';
  color: var(--text-color-cart);
  font-size: 12px;
  transition: all 0.3s ease;

}
.poster-card__btn:hover {
  /* color: var(--text-color-1); */
  transform: translateY(-3px);
  padding: 18.5px 25.5px;
  background-color: rgba(0, 0, 0, 0.4);
}

.poster-btn{
  display: flex;
  justify-content: center;
  margin-top: 70px;
  width: 220px;
  align-items: center;
  margin: 70px auto;
  padding: 8px 50px;
  border-radius: 10px;
  font-family: 'Bold';
}
.poster-btn__btn{
  text-decoration: none;
  font-family: 'Bold';
  text-align: center;
  color: var(--text-color-4);
  background-color: var(--bg-color-3);
}

/*------------------------------------------------------------- Gallary -------------------------------------------------------------*/

.gallary{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  box-sizing: border-box;
}
.gallary-item{
  width: 1056px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
}
.gallary-item:nth-child(1){
  margin-bottom: 35px;
}
.gallary-item:nth-child(2)
{
  flex-direction: row-reverse ;
}

.gallary-img {
  overflow: hidden;
  width: 470px;
  background-size: cover;
  background-repeat: no-repeat;
  height: 255px;
  border-radius: 20px;
  position: relative;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}


.before-image img,
.after-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.before-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.after-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  clip-path: inset(0 100% 0 0); 
}

.slider {
  display: none;
}
.gallary-text{
  width:533px;
  padding: 0 40px;
}
.gallary-item:nth-child(2) .gallary-text {
  padding: 0;
  max-width: 450px;
}
.gallary-text h4{
  font-family: 'Black';
  font-size: 25px;
  margin-bottom: 20px;
  color: var(--text-color-7);
}
.gallary-text p{
  font-family: 'ExtraLight';
  font-size: 18px;
  color: var(--text-color-1);
  margin-bottom: 30px;
  
}
.gallery-btn{
  background-color: var(--bg-color-3);
  padding: 8px 36px;
  color: var(--text-color-4);
  text-decoration: none;
  font-family: 'Bold';
  font-size: 18px;
  border-radius: 10px;
  display: inline-block; /* Error */
}
.gallary-btn-butten{
  display:flex ;
  gap: 10px;
}
.gallary-btn-Rigth{
  background-color: var(--bg-color-4);
  color: var(--text-color-4-2);
  padding: 8px 15px;
  text-decoration: none;
  font-family: 'Bold';
  font-size: 18px;
  border-radius: 10px;
}
button:hover,.gallery-btn:hover,.poster-btn:hover,.gallary-btn-Rigth:hover,.poster-btn__btn:hover{
  background-color: var(--hover-color-2);
  color: var(--text-color-4-btn);
  box-shadow: 0 4px 15px rgba(88, 191, 255, 0.4); 
  transform: translateY(-3px); 
  transition: all 0.2s ease-in-out;
}
