
/* ------------------------------------------------------------------------------------ */

.blur-overlay{
    height: 100%;
}
.container{
    width: 1074px;
    margin: auto;
}
.poster{
  display: flex;
  justify-content: center;
  gap: 12px;
  margin-top: 125px;
  flex-wrap: wrap;
  margin-bottom: 50px;
}
.poster-cards{
  width: 255px;
  height: 330px;
  border-radius: 18px;
  overflow: hidden;
  position: relative;
  box-shadow: 0 2px 12px rgba(0,0,0,0.08);
  background-size: cover;
  background-position: center;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}
.poster-cards:nth-child(1){
  background-image: url(/image/file_00000000eb3c61f7b9e0d955c96e5b23.png);
  background-size: cover;
  background-position: center;
}
.poster-cards:nth-child(2){
  background-image: url(/image/Muppetrealistic.png);
  background-size: cover;
  background-position: center;
}
.poster-cards:nth-child(3){
  background-image: url(/image/file_00000000afd061f781207413ae474318.png);
  background-size: cover;
  background-position: center;
}
.poster-cards:nth-child(4){
  background-image: url(/image/file_00000000711c61f89cca37a360755bf5.png);
  background-size: cover;
  background-position: center;
}
.poster-cards:nth-child(5){
  background-image: url(/image/Marble.png);
  background-size: cover;
  background-position: center;
}
.poster-cards:nth-child(6){
  background-image: url(/image/legostyle.png);
  background-size: cover;
  background-position: center;
}
.poster-cards:nth-child(7){
  background-image: url(/image/IMG_20250607_014124.png);
  background-size: cover;
  background-position: center;
}
.poster-cards:nth-child(8){
  background-image: url(/image/file_000000008bcc61f796169637e121274e.png);
  background-size: cover;
  background-position: center;
}
.poster-cards:nth-child(9){
  background-image: url(/image/file_000000009e8c61f7b6bf7c08bb604047.png);
  background-size: cover;
  background-position: center;
}
.poster-cards:nth-child(10){
  background-image: url(/image/file_0000000038d061f88565577aa27356bc.png);
  background-size: cover;
  background-position: center;
}
.poster-cards:nth-child(11){
  background-image: url(/image/IMG_4321.PNG);
  background-size: cover;
  background-position: center;
}
.poster-cards:nth-child(12){
  background-image: url(/image/file_000000008f0861f7b59b3c9011c4e0c9.png);
  background-size: cover;
  background-position: center;
}
.poster-cards:nth-child(13){
  background-image: url(/image/IMG_4324.PNG);
  background-size: cover;
  background-position: center;
}
.poster-cards:nth-child(14){
  background-image: url(/image/IMG_4195.PNG);
  background-size: cover;
  background-position: center;
}
.poster-cards:nth-child(15){
  background-image: url(/image/IMG_4328.PNG);
  background-size: cover;
  background-position: center;
}
.poster-cards:nth-child(16){
  background-image: url(/image/disneyclassic.png);
  background-size: cover;
  background-position: center;
}
.poster-cards:nth-child(17){
  background-image: url(/image/IMG_20250615_092602_746.jpg);
  background-size: cover;
  background-position: center;
}
.poster-cards:nth-child(18){
  background-image: url(/image/IMG_20250615_092557_457.jpg);
  background-size: cover;
  background-position: center;
}
.poster-cards:nth-child(19){
  background-image: url(/image/IMG_20250615_092916_931.jpg);
  background-size: cover;
  background-position: center;
}
.poster-cards:nth-child(20){
  background-image: url(/image/IMG_20250615_092531_548.jpg);
  background-size: cover;
  background-position: center;
}


.poster-cards:nth-child(21){
  background-image: url(/image/IMG_20250615_092550_644.jpg);
  background-size: cover;
  background-position: center;
}
.poster-cards:nth-child(22){
  background-image: url(/image/IMG_20250615_092544_191.jpg);
  background-size: cover;
  background-position: center;
}
.poster-cards:nth-child(23){
  background-image: url(/image/IMG_20250615_092536_731.jpg);
  background-size: cover;
  background-position: center;
}
.poster-cards:nth-child(24){
  background-image: url(/image/pixar\ 3d.png);
  background-size: cover;
  background-position: center;
}
.poster-cards:nth-child(25){
  background-image: url(/image/IMG_4294.JPG);
  background-size: cover;
  background-position: center;
}
.poster-cards:nth-child(26){
  background-image: url(/image/ghibli.png);
  background-size: cover;
  background-position: center;
}
.poster-cards:nth-child(27){
  background-image: url(/image/claymation.png);
  background-size: cover;
  background-position: center;
}
.poster-cards:nth-child(28){
  background-image: url(/image/pixar\ 3d.png);
  background-size: cover;
  background-position: center;
}
.poster-cards:nth-child(29){
  background-image: url(/image/IMG_4294.JPG);
  background-size: cover;
  background-position: center;
}
.poster-cards:nth-child(30){
  background-image: url(/image/ghibli.png);
  background-size: cover;
  background-position: center;
}
.poster-cards:nth-child(31){
  background-image: url(/image/claymation.png);
  background-size: cover;
  background-position: center;
}
.poster-cards:nth-child(32){
  background-image: url(/image/pixar\ 3d.png);
  background-size: cover;
  background-position: center;
}


.poster-card__content{
  background-color: rgba(102, 102, 102, 0.08);
  backdrop-filter: blur(7.5px);
  border-top: 2px solid rgba(102, 102, 102, 0.09);
  display: flex;
  position: absolute;
  bottom: 0;
  width: 100%;
  justify-content: space-between;
  padding: 0px 17px;
  height: 80px;
  align-items: center;
}
.poster-text{

}
.poster-text h4 {
  color: var(--text-color-cart);
  font-family: 'Bold';
  font-size: 16px;
  
}
.poster-text p{
  margin-top: 5px;
}
.poster-text{
  font-family: 'ExtraLight';
  font-size: 14px;
  color: var(--text-color-cart);
  
}

.poster-card__btn{
  background-color: rgba(255, 255, 255, 0.11);
  backdrop-filter: blur(75px);
  text-decoration: none;
  padding: 18px 25px;
  border-radius: 12px;
  font-family: 'Reagular';
  color: var(--text-color-cart);
  font-size: 12px;
  transition: all 0.3s ease;

}
.poster-card__btn:hover {
  color: var(--text-color-cart);
  transform: translateY(-3px);
  padding: 18.5px 25.5px;
  background-color: rgba(0, 0, 0, 0.4);
  
}

.hidden-card {
  display: none;
}

.poster-cards {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

/* حالت مخفی با انیمیشن */
.poster-cards.hidden-card {
  opacity: 0;
  transform: translateY(30px);
  pointer-events: none;
  position: absolute;
}

.poster-cards.hidden-card {
  opacity: 0;
  transform: translateY(30px) rotateX(15deg);
  
}

