
/* ---------------------------------------------------------- Fonts -------------------------------------------------------------*/

@font-face {
  font-family:"Reagular";
  src: url(/Font/static/Inter_18pt-Regular.ttf) format('truetype') ;
}
@font-face {
  font-family:"Black";
  src: url(/Font/static/Inter_18pt-Black.ttf) format('truetype') ;
}

@font-face {
  font-family:"Medium";
  src: url(/Font/static/Inter_18pt-Medium.ttf) format('truetype') ;
}
@font-face {
  font-family:"Bold";
  src: url(/Font/static/Inter_18pt-Bold.ttf) format('truetype') ;
}

@font-face {
  font-family: "ExtraLight";
  src: url(/Font/static/Inter_18pt-ExtraLight.ttf) format(truetype);
}

/* ------------------------------------------------------- Normalize Css ---------------------------------------------------------*/

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}
html {
  scroll-behavior: smooth;
}


/* ----------------------------------------------------------- Main  -------------------------------------------------------------*/

.main{
  min-height: 125vh;
  position: relative;
  overflow-x: hidden;
  overflow-y: hidden;
}
.main__background{
  position: relative;
  width: 100%;
  height: 100%;
  /* height: 12964px; */
  height: inherit;
}
.background-shapes{

}
.circle__left,.circle__right{
  
}
.circle__left{
  width: 35.4375rem;
  height: 35.4375rem;
  border-radius: 35.4375rem;
  background: #58BFFF;
  position: absolute;
  top: 386px;
  left: -308px;
  z-index: 0;
}
.circle__right{
  width: 35.5rem;
  height: 35.4375rem;
  border-radius: 35.5rem;
  background: #5AC4C9;
  position: absolute;
  top: 218px;
  right: -330px;
  z-index: 0;
}
.blur-overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.1); /* معادل C9C9C9 با 8% اوپاسیتی */
  backdrop-filter: blur(195px);
  -webkit-backdrop-filter: blur(100px); /* برای Safari */
  z-index: 1;
}

.container{
  position: relative;
  z-index: 3;
}

/*------------------------------------------------------------- navbar -------------------------------------------------------------*/


.header{
  z-index: 100;
  position: fixed;
  flex-direction: row;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 30px;
  background-color: rgba(255, 255, 255, 0.7); /* معادل C9C9C9 با 8% اوپاسیتی */
  backdrop-filter: blur(15px);

  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo{
  text-decoration: none;
  color: #000000;
  font-size: 20px;
  font-family: 'Reagular';
  
}
.navbar{
  display: flex;
  gap: 30px;
  margin-right: 20px;
}
.navbar__item{
  list-style: none;
  
}
.navbar__link{
  text-decoration: none;
  color: #000000;
  color: #504f4f;
  font-family: 'Medium';
  font-size: 18px;


}
.navbar__link:hover{
  color: #5a5a5a;
  color: #000000;

}
.navbar__btn{
  /* background-color: #3a3a3a; */
  padding: 9px 11px;
  display: flex;
  border-radius: 10px;
  /* box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2); */
  color: rgb(0, 0, 0); opacity: .5;
  background-color: rgb(58, 58, 58); opacity: 0.5;
}
.navbar__btn:hover{
  cursor: pointer;
}
.navbar__btn svg {
  color: inherit;
  width: 18px;
  height: auto;
}
.navbar__right-placeholder{
  color: rgb(255, 255, 255); opacity: 0.5;
  
}

/*------------------------------------------------------------------ home -------------------------------------------------------------*/

.home{
  box-sizing: border-box;
  padding-top: 182px;


}
.Home-content{
  max-width: 800px;
  text-align: center;
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}
.Home-title{
  font-size: 60px;
  color: #3a3a3a;
  font-family:'Black';

}
.Home-cption{
  font-size: 22px;
  margin-top: 1rem;
  font-family:'Medium';
  color: #504f4f;
  
}
.Home-btn{
  max-width: 500px;
  height: 58px;
  background:rgba(255, 255, 255, 0.12);
  backdrop-filter: blur(250px);
  padding: 12px 10px;
  display: inline-block;
  border: 3px solid #d4d4d4;
  border-radius: 1rem;
  margin-top: 15px;
  display: flex;
  align-items: center;
  
  }
  
.Home-btn__left{

  background-color: #3a3a3a;
  color: #fafafa;
  padding: 8px 50px;
  border-radius: 10px;
  margin-right: 15px;
  text-decoration: none;
  font-family: 'Bold';

}
.Home-btn__left:hover{
  background-color: #58bfff; /* تغییر رنگ پس‌زمینه */
  color: #ffffff; /* تغییر رنگ متن */
  box-shadow: 0 4px 15px rgba(88, 191, 255, 0.4); /* سایه زیبا */
  transform: translateY(-3px); 
  transition: all 0.2s ease-in-out; 
}
.Home-btn__rigth{
  
  background-color: #3AA3AF;
  color: #fafafa;
  padding: 8px 65px;
  border-radius: 10px;
  text-decoration: none;
  font-family: 'Bold';
}
.Home-btn__rigth:hover{
  background-color: #2d2d2d; /* تغییر رنگ پس‌زمینه */
  color: #ffffff; /* تغییر رنگ متن */
  box-shadow: 0 4px 15px rgba(88, 191, 255, 0.4); /* سایه زیبا */
  transition: all 0.2s ease-in-out; 
  

}
.poster{
  display: flex;
  justify-content: center;
  gap: 12px;
  margin-top: 125px;
}
.poster-cards{
  width: 255px;
  height: 330px;
  /* background: rgb(252, 252, 50); */
  border: 6px solid #FFFFFF;
  border-radius: 20px;
  overflow: hidden;
  position: relative;
  background-image: url(/image/1.jpg);
  background-repeat: no-repeat;
  background-size: cover;

}
.poster-cards:nth-child(2){
  background-image: url(/image/2.jpg);
}
.poster-cards:nth-child(3){
  background-image: url(/image/4.jpg);
}
.poster-cards:nth-child(4){
  /* background-image: url(/image/5.jpg); */
  background-image: url(/image/6.jpg);
}

.poster-card__content{
  background-color: rgba(102, 102, 102, 0.08);
  backdrop-filter: blur(7.5px);
  border-top: 2px solid rgba(102, 102, 102, 0.09);
  display: flex;
  position: absolute;
  bottom: 0;
  width: 100%;
  justify-content: space-between;
  padding: 0px 17px;
  height: 80px;
  align-items: center;
}
.poster-text{

}
.poster-text h4 {
  color: white;
  font-family: 'Bold';
  font-size: 16px;
  
}
.poster-text p{
  margin-top: 5px;
}
.poster-text{
  font-family: 'ExtraLight';
  font-size: 14px;
  color: #FFFFFF;
  /* margin-bottom: 20px; */
}

.poster-card__btn{
  background-color: rgba(255, 255, 255, 0.11);
  backdrop-filter: blur(75px);
  text-decoration: none;
  padding: 18px 25px;
  border-radius: 12px;
  font-family: 'Reagular';
  color: #FFFFFF;
  font-size: 12px;
  transition: all 0.3s ease;

}
.poster-card__btn:hover {
  color: #fffacd;
  /* box-shadow: 0 4px 15px rgba(88, 191, 255, 0.4);  */
  transform: translateY(-3px);
  padding: 18.5px 25.5px;
  background-color: rgba(0, 0, 0, 0.4);
}

.poster-btn{
  display: flex;
  justify-content: center;
  margin-top: 70px;
  background-color: #3a3a3a;
  width: 220px;
  align-items: center;
  margin: 70px auto;
  color: #fafafa;
  /* padding: 7px 5px; */
  padding: 8px 50px;
  border-radius: 10px;
  font-family: 'Bold';
}
.poster-btn__btn{
  color: #FFFFFF;
  text-decoration: none;
  font-family: 'Bold';
  text-align: center;
}

/*------------------------------------------------------------- Gallary -------------------------------------------------------------*/

.gallary{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  /* z-index: 1; */
  /* position: relative; */
  box-sizing: border-box;
}
.gallary-item{
  /* background-color: chocolate; */
  width: 1056px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;


}
.gallary-item:nth-child(1){
  margin-bottom: 35px;
}
.gallary-item:nth-child(2)
{
  flex-direction: row-reverse ;
}

.gallary-img {
  overflow: hidden;
  width: 470px;
  background-size: cover;
  background-repeat: no-repeat;
  height: 255px;
  border-radius: 20px;
  position: relative;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}


.before-image img,
.after-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.before-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.after-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  clip-path: inset(0 100% 0 0); 
}

.slider {
  display: none;
}
.gallary-text{
  width:533px;
  padding: 0 40px;
}
.gallary-item:nth-child(2) .gallary-text {
  padding: 0;
  max-width: 450px;
}
.gallary-text h4{
  font-family: 'Black';
  font-size: 25px;
  margin-bottom: 20px;
}
.gallary-text p{
  font-family: 'Reagular';
  font-size: 20px;
  color: #5f5f5f;
  margin-bottom: 30px;
  
}
.gallery-btn{
  background-color: #3a3a3a;
  padding: 8px 36px;
  color: #fafafa;
  text-decoration: none;
  font-family: 'Bold';
  font-size: 18px;
  border-radius: 10px;
  display: inline-block; /* Error */
}
.gallary-btn-butten{
  display:flex ;
  gap: 10px;
}
.gallary-btn-Rigth{
  background-color: #5a5a5a;
  padding: 8px 15px;
  color: #fafafa;
  text-decoration: none;
  font-family: 'Bold';
  font-size: 18px;
  border-radius: 10px;
}
button:hover,.gallery-btn:hover,.poster-btn:hover,
.gallary-btn-Rigth:hover{
  background-color: #58bfff; /* تغییر رنگ پس‌زمینه */
  color: #ffffff; /* تغییر رنگ متن */
  box-shadow: 0 4px 15px rgba(88, 191, 255, 0.4); /* سایه زیبا */
  transform: translateY(-3px); 
  transition: all 0.2s ease-in-out;
}


/*---------------------------------------------  ------------------------------------ */


