/* ------------------------------------------------ Fonts ------------------------------------------------*/

@font-face {
  font-family:"Reagular";
  src: local('Reagular') url(/Font/static/Inter_18pt-Regular.ttf) format('truetype') ;
}

/* ------------------------------------------------ Normalize Css ------------------------------------------------*/

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  
}

/* ------------------------------------------------ Start  ------------------------------------------------*/

.main{
  min-height: 125vh;
  position: relative;
  overflow-x: hidden;
  overflow-y: hidden;
}
.main__background{
  position: relative;
  width: 100%;
  height: 100%;
  height: 1264px;
}
.background-shapes{

}
.circle__left,.circle__right{
  
}
.circle__left{
  width: 35.4375rem;
  height: 35.4375rem;
  border-radius: 35.4375rem;
  background: #58BFFF;
  position: absolute;
  top: 386px;
  left: -308px;
  z-index: 0;
}
.circle__right{
  width: 35.5rem;
  height: 35.4375rem;
  border-radius: 35.5rem;
  background: #5AC4C9;
  position: absolute;
  top: 218px;
  right: -330px;
  z-index: 0;
}
.blur-overlay{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.1); /* معادل C9C9C9 با 8% اوپاسیتی */
  backdrop-filter: blur(195px);
  -webkit-backdrop-filter: blur(100px); /* برای Safari */
  z-index: 1;
}


.container{
  position: relative;
  z-index: 3;
}
.header{
  z-index: 100;
  position: fixed;
  flex-direction: row;
  top: 0;
  left: 0;
  width: 100%;
  padding: 23px 30px;
  background-color: rgba(255, 255, 255, 0.7); /* معادل C9C9C9 با 8% اوپاسیتی */
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo{
  text-decoration: none;
  color: #000000;
  font-weight:bold;
}
.navbar{
  display: flex;
  gap: 30px;
  margin-right: 50px;
}
.navbar__item{
  list-style: none;
}
.navbar__link{
  text-decoration: none;
  color: #000000;
  font-family: '';

}
.navbar__link:hover{
  color: #79f8ff;
}
.navbar__btn{

}
.navbar__btn_text{
  
}